In [1]:
#데이터 준비와 전처리

import pandas as pd
import os


rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python')
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [2]:
using_cols = ['user_id', 'movie_id', 'rating']
ratings = ratings[using_cols]
ratings.head(10)

   user_id  movie_id  rating
0        1      1193       5
1        1       661       3
2        1       914       3
3        1      3408       4
4        1      2355       5
5        1      1197       3
6        1      1287       5
7        1      2804       5
8        1       594       4
9        1       919       4

In [3]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['rating']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [4]:
# rating 컬럼의 이름을 count로 바꿉니다.
ratings.rename(columns={'rating':'num'}, inplace=True)

In [5]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [6]:
#데이터를 병합합니다.

df = movies.set_index("movie_id")

ratings = ratings.join(df, on = "movie_id")

ratings

,user_id,movie_id,num,title,genre
0,1,1193,5,One Flew Over the Cuckoo's Nest (1975),Drama
1,1,661,3,James and the Giant Peach (1996),Animation|Children's|Musical
2,1,914,3,My Fair Lady (1964),Musical|Romance
3,1,3408,4,Erin Brockovich (2000),Drama
4,1,2355,5,"Bug's Life, A (1998)",Animation|Children's|Comedy
...,...,...,...,...,...
1000203,6040,1090,3,Platoon (1986),Drama|War
1000205,6040,1094,5,"Crying Game, The (1992)",Drama|Romance|War
1000206,6040,562,5,Welcome to the Dollhouse (1995),Comedy|Drama
1000207,6040,1096,4,Sophie's Choice (1982),Drama
1000208,6040,1097,4,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi

In [7]:
#분석해 봅시다

#ratings에 있는 유니크한 영화 개수
print(ratings['movie_id'].nunique())

#rating에 있는 유니크한 사용자 수
print(ratings['user_id'].nunique())

#가장 인기있는 영화 30개(인기순)
rate_count = ratings.groupby('title')['user_id'].count()  #가독성을 위해 movie_id항목이 아닌 title을 사용합니다.
print(rate_count.sort_values(axis = 0, ascending=False).head(30))

3628
6039
title
American Beauty (1999)                                   3211
Star Wars: Episode IV - A New Hope (1977)                2910
Star Wars: Episode V - The Empire Strikes Back (1980)    2885
Star Wars: Episode VI - Return of the Jedi (1983)        2716
Saving Private Ryan (1998)                               2561
Terminator 2: Judgment Day (1991)                        2509
Silence of the Lambs, The (1991)                         2498
Raiders of the Lost Ark (1981)                           2473
Back to the Future (1985)                                2460
Matrix, The (1999)                                       2434
Jurassic Park (1993)                                     2413
Sixth Sense, The (1999)                                  2385
Fargo (1996)                                             2371
Braveheart (1995)                                        2314
Men in Black (1997)                                      2297
Schindler's List (1993)                                  2257
Princess Bride, The (1987)                               2252
Shakespeare in Love (1998)                               2213
L.A. Confidential (1997)                                 2210
Shawshank Redemption, The (1994)                         2194
Godfather, The (1972)                                    2167
Groundhog Day (1993)                                     2121
E.T. the Extra-Terrestrial (1982)                        2102
Being John Malkovich (1999)                              2066
Ghostbusters (1984)                                      2051
Pulp Fiction (1994)                                      2030
Forrest Gump (1994)                                      2022
Terminator, The (1984)                                   2019
Toy Story (1995)                                         2000
Fugitive, The (1993)                                     1941
Name: user_id, dtype: int64

In [8]:
k = ['Terminator 2: Judgment Day (1991)' , 'Home Alone (1990)' ,'Sixth Sense, The (1999)' ,'Titanic (1997)' ,'Saving Private Ryan (1998)']

my_favorite = []

for i in k:
    my_favorite.append(int(movies[movies['title'] == i]["movie_id"]))

my_favorite #호출의 용이성을 위해 문자열 제목을 movie_id를 참조하여 변경

[589, 586, 2762, 1721, 2028]

In [9]:
# ratings['user_id'].max() = 6040이기때문에 id는 6041로 지정 rating = 5
my_playlist = pd.DataFrame({'user_id': ['6041']*5, 'movie_id': my_favorite, 'num':[5]*5})

ratings = ratings.append(my_playlist)

ratings.tail(10)

,user_id,movie_id,num,title,genre
1000203,6040,1090,3,Platoon (1986),Drama|War
1000205,6040,1094,5,"Crying Game, The (1992)",Drama|Romance|War
1000206,6040,562,5,Welcome to the Dollhouse (1995),Comedy|Drama
1000207,6040,1096,4,Sophie's Choice (1982),Drama
1000208,6040,1097,4,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
0,6041,589,5,NaN,NaN
1,6041,586,5,NaN,NaN
2,6041,2762,5,NaN,NaN
3,6041,1721,5,NaN,NaN
4,6041,2028,5,NaN,NaN

In [10]:
#CSR matrix를 직접 만들어 봅시다.

# 고유한 유저, 아티스트를 찾아내는 코드
user_unique = ratings['user_id'].unique()
movie_unique = ratings['movie_id'].unique()

# 유저, 아티스트 indexing 하는 코드 idx는 index의 약자입니다.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}

In [11]:
# 인덱싱이 잘 되었는지 확인해 봅니다. 
print(user_to_idx['6041'])
print(ratings['user_id'].nunique()) #6039 -> 6040
print(ratings['movie_id'].nunique()) #3628 -> 3628 영화의 갯수는 동일, 유저의 수는 1명 증가 확인.
print(movie_to_idx[int(movies[movies['title'] == 'Terminator 2: Judgment Day (1991)']["movie_id"])])

6039
6040
3628
92

In [12]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
 
temp_user_data = ratings['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(ratings):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    ratings['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_movie_data = ratings['movie_id'].map(movie_to_idx.get).dropna()
if len(temp_movie_data) == len(ratings):
    print('movie_id column indexing OK!!')
    ratings['movie_id'] = temp_movie_data
else:
    print('movie column indexing Fail!!')

ratings

user_id column indexing OK!!
movie_id column indexing OK!!

,user_id,movie_id,num,title,genre
0,0,0,5,One Flew Over the Cuckoo's Nest (1975),Drama
1,0,1,3,James and the Giant Peach (1996),Animation|Children's|Musical
2,0,2,3,My Fair Lady (1964),Musical|Romance
3,0,3,4,Erin Brockovich (2000),Drama
4,0,4,5,"Bug's Life, A (1998)",Animation|Children's|Comedy
...,...,...,...,...,...
0,6039,92,5,NaN,NaN
1,6039,507,5,NaN,NaN
2,6039,38,5,NaN,NaN
3,6039,27,5,NaN,NaN
4,6039,48,5,NaN,NaN

In [13]:
from scipy.sparse import csr_matrix


num_user = ratings['user_id'].nunique()
num_artist = ratings['movie_id'].nunique()

csr_data = csr_matrix((ratings.num, (ratings.user_id, ratings.movie_id)), shape= (num_user, num_artist))
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

In [14]:
#als_model = AlternatingLeastSquares 모델을 직접 구성하여 훈련시켜 봅시다.


from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [15]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [16]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<3628x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [17]:
als_model.fit(csr_data_transpose)

HBox(children=(FloatProgress(value=0.0, max=15.0), HTML(value='')))

In [18]:
mine, terminator2 = user_to_idx['6041'], movie_to_idx[589]
mine_vector, terminator2_vector = als_model.user_factors[mine], als_model.item_factors[terminator2]

print('슝=3')

슝=3

In [19]:
mine_vector

array([-1.3756492 , -0.9439546 ,  0.00227376,  1.0441139 ,  0.18503919,
        0.6442654 , -0.14960262,  0.4130029 , -0.45474535,  0.4395634 ,
        0.41522613, -0.9655469 ,  0.18160018, -0.56021386,  0.17850037,
        0.20759219, -0.11315695,  0.8140895 , -0.7335163 , -0.1218634 ,
        0.24060547,  0.08286361, -0.7389755 ,  0.39627525, -0.3266273 ,
        0.78366446, -0.53263605,  0.4595253 ,  0.5453975 , -0.5618565 ,
        0.07714178, -0.38414982, -0.43871653, -0.30159667,  0.02711426,
        0.4094529 ,  0.23174812,  0.17220758,  0.06281042, -0.16704696,
        0.3792799 ,  0.49969575,  0.1085358 ,  0.3390181 ,  0.03382057,
        0.18574856,  0.35730082,  0.02951659,  0.20662399, -0.17459925,
       -0.02656456, -0.31495047, -0.9705977 ,  0.20802742,  0.52641696,
       -0.4082082 , -1.0176269 ,  0.02035997,  0.35817996,  0.42507625,
        0.38373446, -0.7021932 ,  0.06352413,  1.0355349 , -0.14186299,
        0.4045348 ,  0.0490848 ,  0.29675645,  0.3105174 ,  0.20554927,
       -0.76060665, -0.06763398, -0.2498289 ,  1.1611637 ,  0.27246785,
        0.96343213,  1.0262011 ,  0.8943228 , -0.01907801, -0.5647136 ,
       -1.001619  , -0.06186377, -0.683851  ,  0.01226094,  0.30130225,
        0.05476612,  0.61258453, -1.6261945 , -0.22343838, -0.18714364,
        0.47940186, -0.4231084 ,  0.501217  , -1.314986  ,  0.19409701,
       -0.13628514, -0.3432576 ,  0.71836954,  0.23354766, -0.13733438],
      dtype=float32)

In [20]:
terminator2_vector

array([-2.56375801e-02, -2.15830915e-02, -7.63843767e-03,  3.79960537e-02,
        7.86466338e-03,  1.87489893e-02, -4.16328898e-03,  3.88933644e-02,
        2.79943757e-02,  2.31862906e-02,  1.99797396e-02, -2.22040955e-02,
        1.44624114e-02,  5.64145972e-04,  3.67967337e-02,  1.71935931e-02,
       -2.58683022e-02, -7.57831335e-03,  4.33014380e-03,  2.13785898e-02,
        7.44022522e-03,  8.65246542e-03, -8.87357630e-03, -3.07266274e-03,
        2.58708443e-03,  5.15341982e-02,  1.35475472e-02,  3.95835713e-02,
        1.90347824e-02, -3.37765878e-03,  4.18523280e-03, -5.31049957e-03,
       -6.48268906e-04, -1.61747821e-02,  3.61888879e-03,  1.17708221e-02,
        9.99420416e-03,  1.02031725e-02, -7.07961759e-03, -2.03946996e-02,
        3.30465399e-02,  2.34839488e-02,  1.05132917e-02,  1.88960470e-02,
       -1.27468891e-02, -1.13136293e-02, -5.13142627e-03,  1.81513801e-02,
       -9.43759084e-03,  1.28920451e-02,  1.51488557e-02, -9.24858544e-03,
       -1.04504237e-02,  3.10794450e-02,  4.53024358e-03, -2.09753541e-03,
       -2.17785034e-02,  2.78041381e-02,  2.24471819e-02,  7.59085268e-03,
       -6.88299304e-04, -9.19470377e-03, -6.50340831e-03,  4.58042324e-02,
        6.43767696e-03,  2.82772928e-02,  2.59956103e-02,  1.90001447e-02,
        1.08692031e-02,  1.51030803e-02, -2.48941593e-02,  2.24958230e-02,
        2.06214450e-02,  1.05725797e-02, -8.96070997e-05,  1.84407178e-02,
        1.03944698e-02,  3.01768780e-02,  5.02961595e-03,  2.20801868e-02,
       -1.68706253e-02,  1.48077095e-02, -1.12887323e-02, -4.96834982e-03,
       -6.62804535e-03,  1.43036759e-03,  4.83232224e-03, -2.45734826e-02,
        7.62700220e-04, -1.70758069e-02, -1.51025476e-02,  3.90870823e-03,
        2.58921664e-02, -1.37962131e-02, -1.84700303e-02, -2.19294839e-02,
       -1.40912840e-02,  1.34474011e-02,  7.39088980e-03,  1.55936424e-02],
      dtype=float32)

In [21]:
# zimin과 black_eyed_peas를 내적하는 코드
np.dot(mine_vector, terminator2_vector)

0.5742769

In [22]:
# 6::Heat (1995)::Action|Crime|Thriller

heat = movie_to_idx[6]
heat_vector = als_model.item_factors[heat]
np.dot(mine_vector, heat_vector)

0.030438442

In [23]:
#589, 586, 2762, 1721, 2028

favorite_movie = 589
movie_id = movie_to_idx[favorite_movie]
similar_movie = als_model.similar_items(movie_id, N=15)
similar_movie

[(92, 0.18553486),
 (124, 0.14429782),
 (107, 0.13167673),
 (62, 0.12861505),
 (175, 0.119067304),
 (200, 0.115228534),
 (141, 0.09222886),
 (87, 0.08910578),
 (3466, 0.084202304),
 (75, 0.08086982),
 (375, 0.07778993),
 (651, 0.07759891),
 (193, 0.07697806),
 (3333, 0.07160783),
 (145, 0.07068097)]

In [24]:
#artist_to_idx 를 뒤집어, index로부터 artist 이름을 얻는 dict를 생성합니다. 
idx_to_movie = {v:k for k,v in movie_to_idx.items()}
a = [idx_to_movie[i[0]] for i in similar_movie]

for i in a:
    print(movies[movies['movie_id'] == i]["title"])
    print(movies[movies['movie_id'] == i]["genre"])

585    Terminator 2: Judgment Day (1991)
Name: title, dtype: object
585    Action|Sci-Fi|Thriller
Name: genre, dtype: object
2502    Matrix, The (1999)
Name: title, dtype: object
2502    Action|Sci-Fi|Thriller
Name: genre, dtype: object
476    Jurassic Park (1993)
Name: title, dtype: object
476    Action|Adventure|Sci-Fi
Name: genre, dtype: object
2847    Total Recall (1990)
Name: title, dtype: object
2847    Action|Adventure|Sci-Fi|Thriller
Name: genre, dtype: object
1539    Men in Black (1997)
Name: title, dtype: object
1539    Action|Adventure|Comedy|Sci-Fi
Name: genre, dtype: object
1220    Terminator, The (1984)
Name: title, dtype: object
1220    Action|Sci-Fi|Thriller
Name: genre, dtype: object
453    Fugitive, The (1993)
Name: title, dtype: object
453    Action|Thriller
Name: genre, dtype: object
108    Braveheart (1995)
Name: title, dtype: object
108    Action|Drama|War
Name: genre, dtype: object
977    Schlafes Bruder (Brother of Sleep) (1995)
Name: title, dtype: object
977    Drama
Name: genre, dtype: object
1568    Hunt for Red October, The (1990)
Name: title, dtype: object
1568    Action|Thriller
Name: genre, dtype: object
1533    Face/Off (1997)
Name: title, dtype: object
1533    Action|Sci-Fi|Thriller
Name: genre, dtype: object
1182    Aliens (1986)
Name: title, dtype: object
1182    Action|Sci-Fi|Thriller|War
Name: genre, dtype: object
1196    Alien (1979)
Name: title, dtype: object
1196    Action|Horror|Sci-Fi|Thriller
Name: genre, dtype: object
2539    Heaven (1998)
Name: title, dtype: object
2539    Thriller
Name: genre, dtype: object
1491    Fifth Element, The (1997)
Name: title, dtype: object
1491    Action|Sci-Fi
Name: genre, dtype: object

# 데이터 전처리
데이터 처리 과정에서 가장 의미 없는 timestamp항목을 제거하였으며 가시성을 위해 movies의 title과 genre항목을 병합하여주었다.
또한 column명 중 rating의 경우 ratings.rating이 ratings의 rating 항목을 호출하는 것이 아닌 .rating 함수로 작용하는 것 때문에 num으로 변경하였다.

# 모델 평가
직접 레이팅을 5점을 준 영화의 경우 50%가 넘었으며 랜덤하게 뽑은 영화에의 경우 1.6%가 나오는 등 확실한 차이를 보였다.
15개의 유사 영화의 경우 20%내외로 점수가 높지는 않았지만 추천된 영화는 대부분 비슷한 장르인 Sci_Fi와 Thriller로 뽑히는 것을 확인할 수 있었다.